<form action="/places" method="post">
  
  <label for="cityName">Insert a city you've visited!</label>
  <input type="text" id="cityName" name="cityName" />

  <label for="cityDescription">Describe your trip.</label>
  <input type="text" id="cityDescription" name="cityDescription" />

  <label for="cityYear">Year of trip.</label>
  <input type="text" id="cityYear" name="cityYear" />

  <button type="submit">Submit</button>
</form>
