<form action="/place" method="post">
  <label for="cityName">Insert a city you've visited!</label>
  <input type="text" id="cityName" name="cityName" />
  <button type="submit">Submit</button>
</form>
