<form action="/places" method="post">
  <label for="cityName">Insert a city you've been!</label>
  <input type="text" id="cityName" name="cityName">

  <label for="cityDescription">Describe your trip.</label>
  <input type="text" id="cityDescription" name="cityDescription">

  <label for="companions">Companions whom you were with</label>
  <input type="text" id="companions" name="companions">

  <button type="submit">Submit</button>
</form>